doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    link(rel='stylesheet', href='style.css', media='screen')
  body.markdown-body
    h1= title
    img(src='images/monkey-thinking.svg', width='300')
    ul
      li
        a(href='/books') GET /books
      li
        a(href='/books/9783864909467') GET /books/9783864909467
    hr
    p
      strong You can reset the book list to its initial state.
      br
      | This makes it easier to work with the API when implementing a delete function.
    button(onclick='resetBookList()', id='reset') Reset book list
    span(id='resetOK') OK
    hr
    strong
      | Explorable API documentation:&nbsp;
      a(href='/swagger-ui/') /swagger-ui/
    br
    small
      | OpenAPI Specification:&nbsp;
      a(href='/swagger.json') /swagger.json
    br
    small
      | Uptime: #{time}
    hr
    |   &copy;&nbsp;
    a(href='https://angular-buch.com') Angular-Buch Team

    script.
      function resetBookList() {
        const resetOK = document.querySelector('#resetOK');
        if (!confirm('Do you want to reset the book list?')) {
          return;
        }

        fetch('/books', { method: 'DELETE' }).then(() => {
          resetOK.style.visibility = 'visible';

          setTimeout(() => resetOK.style.visibility = 'hidden', 1000);
        });
      }
